{{page-title "Landing Page"}}
{{outlet}}
<div class="landing-page">
    <div class="content">
        <h1>Dialecto</h1>
        <p>The world's most popular way to learn languages.</p>
        <div class="buttons">
            <button class="primary-button" {{on "click" this.getStarted}}>Get Started</button>
            <button class="secondary-button" {{on "click" this.login}}>Already Have an Account</button>
        </div>
    </div>
</div>